PORT=5000
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=ocr_email_extractor
DB_PORT=3306
NODE_ENV=development

EMAIL_HOST=mail.gmail.com
EMAIL_PORT=993
EMAIL_USER="developer@gmail.com"
EMAIL_PASS="developer123@"

# RabbitMQ
RABBITMQ_URL=amqp://guest:guest@localhost:5672

# Worker Strategy
OCR_CONCURRENCY=1
ATTACHMENT_CONCURRENCY=5
POLL_INTERVAL_MINUTES=30
